
 #cart-and-summary-container  {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
gap: 3rem;
 }

 
 .cart-image {
width: clamp(100px, 10vw, 150px);
height: auto;
object-fit: contain;
}
.empty-cart-img {
width: clamp(200px, 35vw, 500px);
height: auto;
object-fit: contain;
}

 @media (min-width: 768px) {
 #cart-and-summary-container{
   flex-direction: row;
   gap: 5rem;
 }
 }

