
 #cart-and-summary-container  {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
gap: 3rem;
 }
 .cart-image {
width: clamp(60px, 8vw, 120px);
height: auto;
object-fit: contain;
}

 @media (min-width: 768px) {
 #cart-and-summary-container{
   flex-direction: row;
   gap: 5rem;
 }
 }

