
 #cart-and-summary-container  {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
gap: 3rem;
 }

 @media (min-width: 768px) {
 #cart-and-summary-container{
   flex-direction: row;
   gap: 5rem;
 }
 }

