
.inputfield-details:focus {
  outline: 3px solid var(--inputfield-focus-color);
  outline-offset: 2px;
}
.details-ordersummary-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.details-sections {
  display: flex;
  flex-direction: column;
}


.inputfield-details {
  margin-block: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  border-radius: 0.5rem;
  width:20rem;
  font-size: 1rem;
  border: 2px solid var(--main-text-color);
  margin-bottom: 1rem;
}


.image-text-container {
  display: flex;;
}
.quantity-total-container {
  display:flex;
  justify-content: space-between;
  gap:2rem;
}
.productname-container {
  margin-bottom: 2rem;
}

.paymentoptions-container {
  display:flex;
  justify-content: space-between;
  gap: 2rem;
}

.pay-order-button-container {
  margin-block: 2rem;
}



@media (min-width: 768px) {
.details-ordersummary-content {
  flex-direction: row;
}

.payment-options-container {
  flex-direction: row;
  flex-basis: 100%;
}
.ordersummary-text-container {
  margin-block:1.8rem;
}

.details-ordersummary-content {
  gap: 6rem;
}
.inputfield-details {
  width:25rem;
}
}