* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #113340; 
  --nav-active-color: #FFFFFF;
  --main-text-color: #5C5C5C;
  --secondary-color: #FF8B38;
  --tertiary-color: #96D35F;
  --button-text-color: #212121;
  --on-hover-size-button-color: #296C86;
  --on-hover-secondary-button-color: #FFAF75;
  --on-hover-tertiary-button-color: #C0FA8B;
  --inputfield-focus-color: #0E7490; 
  --nav-desktop-text-color: #d2d2d2;
  --nav-desktop-text-color-focus-hover: #fffff4;
  --gray: rgb(104, 104, 104);

}

.dropdown {
  font-family: 'Open sans';
  font-weight: 600;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--gray);
  color: var(--main-text-color);
  padding-inline: 1rem;
}
.error-message {
  background-color: red;
  color: white;
}
.success-message {
  background-color: green;
  color: white;
}
.sale-price {
  color: red;
  font-weight: 600;
}
.strike {
  text-decoration: line-through;
}
.margin-block {
  margin-block: 3rem;
}
.flex {
  display: flex;
  justify-content: space-evenly
}

.btn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.8rem;
  font-family: 'Open sans';
  font-weight: 500;
  
}

#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}
.toast {
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans';
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.toast.success {
  background-color: #65ac2b; 
}
.toast.error {
  background-color: #dc3545; 
}

.main {
margin-inline: 1rem;
margin-block: 1rem;
margin: 0 auto;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.grid-2fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.padding-left {
  padding-left: 2rem;
}
.cart-image {
width: 100px;
height: 100px;
}
.sr-only {
  position:absolute;
  width: 1px;
  height:1px;
  padding: 0;
  margin:-1px;
  overflow:hidden;

}
h1 {
  font-family: "Open sans",'Helvetica';
  color: var(--main-text-color);
  font-size: 1.5rem;
}
h2 {
  font-family: "Open sans",'Helvetica';
 font-size: 1.250rem;
 color: var(--main-text-color);

}
h3 {
  font-family: "Open sans",'Helvetica';
 font-size: 1.125rem;
 color: var(--main-text-color);
 margin-bottom: 1rem;
 font-weight: 500;
}
h4 {
  font-family: "Open sans",'Helvetica';
 font-size: 1rem;
 color: var(--main-text-color);
 margin-bottom: 1rem;
}

p {
  font-family: "Open sans",'Helvetica';;
  font-size: 1.050rem;
  color: var(--main-text-color);
   margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-family: "Open sans";
}


li {
  list-style-type: none;
    font-family: "Open sans",'Helvetica';;
  font-size: 1.050rem;
  color: var(--main-text-color);
   margin-bottom: 1rem;

}

input:focus {
  border-style: solid;
  border-color: var(--main-text-color);
  outline: none;
}

.definition-list {
  font-family: 'Open sans','Helvetica';

}
.order-total-dl  {
  font-weight: 700;
  color: var(--main-text-color);
  display:flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}
.order-label {
  font-size: 1.125rem;
  color: var(--main-text-color);
  margin:0;
}
.order-value {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-text-color);
  margin:0;
}
.column {
  display:flex;
  flex-direction: column;
  text-align: center;
}
/* .back-button {
  color: var(--main-text-color);
  width:1rem;
  height:1rem;
}
.breadcrumbs a{
  font-family: 'Open sans', 'helvetica';
  color: var(--main-text-color);
}
.breadcrumbs ol {
  display:flex;
}
.breadcrumbs li + li::before {
  content:"/";
  margin: 0 0.5rem;
  color: var(--main-text-color);
}
.breadcrumbs [aria-current="page"] {
  font-weight: 600;
} */

@media (min-width: 768px) {
h1 {
  font-size: 2.125rem;
}
h2 {
 font-size: 1.5rem;
}
h3 {
 font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
p, a {
  font-size: 1rem;
}
.order-label {
  font-size: 1.25rem;
}
.order-value {
  font-size: 1.5rem;
}
.button{
    font-size: 1.125rem;
}
.dropdown {
  font-family: 'Open sans';
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid;
  border-color: var(--gray);
  color: var(--main-text-color);
  padding-inline: 1rem;
  padding-block: 0.5rem;
}


}
@media (min-width: 1025px) {
h1 {
  font-size: 2.125rem;
}
h2 {
 font-size: 1.875rem;
}
h3 {
 font-size: 1.5rem;

}
p, a {
  font-size: 1.25rem;
}
.main {
margin-inline: 5rem;
margin-block: 5rem;
margin: 0 auto;
}
}
