.error-message {
  background-color: red;
  color: white;
}
.success-message {
  background-color: green;
  color: white;
}
.sale-price {
  color: red;
  font-weight: 600;
}
.margin-block {
  margin-block: 3rem;
}
.flex {
  display: flex;
  justify-content: space-evenly
}
.btn {
  font-family: 'Open sans';
  background-color: var(--on-hover-size-button-color);
  padding-inline: 1rem;
  padding-block: 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.card {
  
}

.strike {
  text-decoration: line-through;
}
#title-and-filter {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 15rem;
}

.new-arrivals img {
object-fit: contain;
width: 200px;
height: 200px;
}


.hero-image {
  width: 100%;
  height: auto;
  display: block;
}
.hero-image-container {
  position: relative;
  width:100%;
  overflow:hidden;
}
.image-overlay {
  position:absolute;
  top: 0;
  left:0;
  width:70%;
  height:100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 80%);
  z-index:1;
}

.hero-section {
  position: relative;
  display: flex;
}
.hero-text {
  position: absolute;
  z-index:2;
  top:20%;
  bottom:20%;
  left:5%;
  color:white;
}
.hero-text span {
  display:block;
}

#new-arrivals-title {
  font-weight: 400;
}
.our-products-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2rem;
}
.our-products-text,
.our-products-title {
  line-height: 2;
  font-weight: 400;
  margin:2rem;
}



.text-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .card3 {
    display: block;
  }
  .hero-text {
    font-size: 3rem;
  }
  .our-products-text {
    max-width: 70ch;
  }
  .text-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 1.2rem;
  }
    .new-arrivals {
    margin-inline: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 30rem;
  }
}
@media (min-width: 1025px) {
  .new-arrivals {
    margin-inline: 15rem;
  }
.hero-text {
  font-size: 5rem;
}
.new-arrivals {
  gap:4rem;

}

}
