#product-container {
    display: grid;
    grid-template-columns: 1fr;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
img {
    width: clamp(150px, 100%, 600px);
    height: auto;
}
.btn {
  font-family: 'Open sans';
  background-color: var(--on-hover-size-button-color);
  padding-inline: 1rem;
  padding-block: 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
}
#size-dropdown-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-left {
    margin-left: 1rem;
}
@media (min-width: 768px) {
#product-container {
display: grid;
grid-template-columns: 1fr 1fr;
}
#product-container {
    max-width: min(60rem, 70vw);
    margin: 0 auto;
}
} 